.layout__content {
  margin-top: 24px;
  padding-bottom: 48px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}

.home-view {
  width: 100%;
}

.view-full {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
}
