.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
}
.search-bar__input {
  width: 100%;
}

.search-bar .MuiFormLabel-root {
  color: var(--project-primary-contrast);
}
.search-bar .MuiOutlinedInput-root {
  color: var(--project-primary-contrast);
}
.search-bar .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: var(--project-border);
}
.search-bar .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--project-primary-600);
}
.search-bar .MuiInputBase-input {
  color: var(--project-primary-contrast);
}

.search-bar .MuiInputLabel-root.Mui-focused {
  color: var(--project-primary-contrast);
}

.search-bar:hover .MuiInputLabel-root,
.search-bar .MuiInputLabel-root:hover {
  color: var(--project-primary-contrast);
}

.search-bar .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--project-primary-600);
}
.search-bar .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--project-primary-600);
  border-width: 1px;
}
